name: Financy CI/CD

on:
  push:
    branches:
      - main
      - master
    paths:
      - frontend/**
      - backend/**
      - .github/workflows/main.yml
  pull_request:
    branches:
      - main
      - master
    paths:
      - frontend/**
      - backend/**
      - .github/workflows/main.yml
  workflow_dispatch:

jobs:
  detect_changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      frontend_changed: ${{ steps.filter.outputs.frontend }}
      backend_changed: ${{ steps.filter.outputs.backend }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Filter Changed Paths
        id: filter
        uses: dorny/paths-filter@v3.0.2
        with:
          filters: |
            frontend:
              - frontend/**
            backend:
              - backend/**

  test_backend:
    name: Test Backend
    needs: detect_changes
    if: ${{ needs.detect_changes.outputs.backend_changed == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Create .env file
        run: cp .env.example .env

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run tests
        run: npm run test

  build_backend:
    name: Build & Deploy Backend
    needs: [detect_changes, test_backend]
    if: ${{ needs.detect_changes.outputs.backend_changed == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Generate Tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Build Image for Trivy Scan
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: financy:scan-test

      - name: Run Trivy Scan
        id: run_trivy_scan
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: financy:scan-test
          format: table
          ignore-unfixed: true
          vuln-type: os,library
          severity: CRITICAL,HIGH

      - name: Build & Push Image to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          cache-from: type=gha
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/financy:${{ steps.generate_tag.outputs.sha }}
            ${{ secrets.DOCKERHUB_USERNAME }}/financy:latest
