name: Financy Backend Tests

on:
  push:
    branches:
      - main
      - master
    paths:
      - backend/**
      - .github/workflows/test.yml
  pull_request:
    branches:
      - main
      - master
    paths:
      - backend/**
      - .github/workflows/test.yml
  workflow_dispatch:

jobs:
  detect_changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      backend_changed: ${{ steps.filter.outputs.backend }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Filter backend changes
        id: filter
        uses: dorny/paths-filter@v3.0.2
        with:
          filters: |
            backend:
              - backend/**

  test:
    name: Run Unit Tests
    needs: detect_changes
    if: ${{ needs.detect_changes.outputs.backend_changed == 'true' }}
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test
